.work-process {
   padding: 110px 0;
}

.work-process-head {
   margin-bottom: 75px;
}

.process-head-col {
   display: flex;
   align-items: center;
}

.work-process-title {
   font-weight: 700;
   color: #233341;
   font-size: 53px;
   line-height: 105%;
   letter-spacing: -1px;
}

.work-process-text {
   font-weight: 400;
   color: #233341;
   font-size: 18px;
   line-height: 1.5;
}

.work-process-text strong {
   font-weight: 700;
}

@media all and (max-width: 940px) {
   .process-head-col { max-width: 100%; flex: 0 0 100%; }
   .work-process-title { text-align: center; margin-bottom: 30px; }
   .work-process-text { text-align: center; }
}

@media all and (max-width: 610px) {
   .work-process-title { font-size: calc((100vw - 280px)/(610 - 280) * (53 - 33) + 33px); }
}

@media all and (max-width: 400px) {
   .work-process-text { font-size: calc((100vw - 280px)/(400 - 280) * (18 - 16) + 16px); }
}



/* работы */
.our-work-container {
   max-width: 100%;
}

.grid {
   margin-left: -2.5px;
   margin-right: -2.5px;
}

.grid-item {
   padding-left: 2.5px;
   padding-right: 2.5px;
}

.our-work {
   margin-bottom: 5px;
   overflow: hidden;
   position: relative;
}

.work-wrap {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   background: black;
}

.work-wrap img {
   max-width: 100%;
   height: auto;
   transition: all 0.3s ease;
}

.our-work {
   background: black;
}

.our-work:hover .work-wrap img {
   opacity: 0.3;
}

.work-descr {
   position: absolute;
   left: 15px;
   top: 15px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.work-date {
   margin-bottom: 5px;
   font-size: 18px;
   font-weight: 600;
   color: #09b28a;
   opacity: 0;
   visibility: hidden;
   transform: translateX(-20px);
   transition: all 0.3s ease;
}

.work-location {
   font-size: 20px;
   font-weight: 600;
   color: white;
   opacity: 0;
   visibility: hidden;
   transform: translateX(30px);
   transition: all 0.3s ease;
}

.our-work:hover .work-date {
   transform: translateX(0);
   opacity: 1;
   visibility: visible;
   /* transition-delay: 0.2s; */
}

.our-work:hover .work-location {
   transform: translateX(0);
   opacity: 1;
   visibility: visible;
   /* transition-delay: 0.2s; */
}

@media all and (max-width: 1250px) {
   .work-date { font-size: calc((100vw - 992px)/(1200 - 992) * (18 - 15) + 15px); }
   .work-location { font-size: calc((100vw - 992px)/(1200 - 992) * (20 - 16) + 16px); }
}

@media all and (max-width: 992px) {
   .work-date { font-size: calc((100vw - 768px)/(992 - 768) * (18 - 15) + 15px); }
   .work-location { font-size: calc((100vw - 768px)/(992 - 768) * (20 - 16) + 16px); }
}

@media all and (max-width: 768px) {
   .work-date { font-size: calc((100vw - 576px)/(768 - 576) * (18 - 15) + 15px); }
   .work-location { font-size: calc((100vw - 576px)/(768 - 576) * (20 - 16) + 16px); }
}

@media all and (max-width: 576px) {
   .work-date { font-size: calc((100vw - 280px)/(576 - 280) * (18 - 15) + 15px); }
   .work-location { font-size: calc((100vw - 280px)/(576 - 280) * (20 - 16) + 16px); }
}